* {
  align-items: center;
  justify-content: center; 
}

body * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.clock-buttons {
  margin-top: 15px;
}

#clock-in-button {
  background-color: lightgray;
}

#clock-in-button:hover {
  background-color: darkgreen;
}

.active-section {
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 15px;
  border: 2px solid black;
  height: 20rem;
  width: 90%;
}

.stop-btn {
  width: 30%;
  background-color: red;
}

ul {
  justify-content: flex-start;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 8px;
}

.active-card {
  border: 1px solid black;
  width: 100%;
}