@import url('./variables.css');

.main-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem;
}

.status-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.shift-status {
  line-height: 1.5;
}

.shift-status.noshifts {
  color: var(--ml-color-two);
}

.shift-status.shifts {
  color: #d50505;
  font-weight: 700;
}

.shift-status.status-message {
  color: #3f4a3f;
}
