@import url('./variables.css');

.main-container {
  display: flexbox;
  flex-direction: column;
  text-align: center;
  justify-content: column;
}

.shift-status {
  color: var(-ml-color-two);
}

.shift-status.noshifts {
  color: #d50505;
}
