.inv-dropdowns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.select-div {
  display: flex;
  flex-direction: row;
  width: fill;
  justify-content: space-between;
  text-align: center;
}
