.invoice-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  min-width: 100%;
  border: 2px solid linear-gradient(to right, #095910, #82b382);
}

.inv-dropdowns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  border: 2px solid #199e23;
}

.select-div {
  display: flex;
  flex-direction: row;
  width: fill;
  justify-content: space-between;
  text-align: center;
  margin: 3px;
}


table, tr, th, td {
  border: 1px solid black;
}