.imp-text {
  text-align: center;
  color: darkorange;
  text-shadow: 5px 5px 5px lightgray;
  background-color: black;
  padding: 10px;
}

html {
  background-color: black;
}

.ledger-table {
border: 2px solid black;  
}

th {
  background-color: #009879;
  border: 1px solid #black
  color: #ffffff;
  font-weight: bold;
}

tr {
  border-bottom: 1px solid #black;
}