.planned-body {
  display: flex;
  flex-direction: column  ;
  text-align: center;
  justify-content: flex-start;
  align-items: center ;
}

.planned-heading-div {
  
}

.planned-list {
  display: flexbox;
  flex-direction: column;
}

.planned-control {
  margin-top: 0;
}

.job-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add-job-modal {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top-div {
  display: flex;
  flex-direction: row;
}

.top-section {
  display: flex;
  flex-direction: column;
}
