body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: fit-content;
  width: 100%;
}

h3 {
  font-size: 22px;
}

hr {
  background-color: #01CE1C;
  width: 100%;
  height: 10px;
}

.filters {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  justify-content: space-evenly;
}

.filter-sel {
  border: 1px solid #1199076B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shifts-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date-div,
.emp-cust-div,
.list-item-buttons {
  display: flex;
  border: 1px solid #01CE1C;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.emp-cust-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.shifts-list {
  list-style-type: disc;
  padding: 0;
  margin: 0;
}

.shift-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px;
  padding: 3px;
  border: 2px solid purple;
  width: 100%;
}

.shift-card.is-paid {
  border: 2px solid red;
}

.shift-modal {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.shift-data {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  justify-content: space-around;
}

.break-input {
  width: fit-content;
}

select {
  padding: 3px;
  width: 70%;
}
